<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holley.elecsafe.dao.es.EsDetectorThresholdMapper" >
  <resultMap id="BaseResultMap" type="com.holley.elecsafe.model.es.EsDetectorThreshold" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="OVERU" property="overu" jdbcType="DECIMAL" />
    <result column="UNDERU" property="underu" jdbcType="DECIMAL" />
    <result column="OVERI" property="overi" jdbcType="DECIMAL" />
    <result column="IL" property="il" jdbcType="DECIMAL" />
    <result column="TA" property="ta" jdbcType="DECIMAL" />
    <result column="TB" property="tb" jdbcType="DECIMAL" />
    <result column="TC" property="tc" jdbcType="DECIMAL" />
    <result column="TN" property="tn" jdbcType="DECIMAL" />
    <result column="TL" property="tl" jdbcType="DECIMAL" />
    <result column="TI" property="ti" jdbcType="DECIMAL" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, OVERU, UNDERU, OVERI, IL, TA, TB, TC, TN, TL, TI, UPDATETIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holley.elecsafe.model.es.EsDetectorThresholdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from es_detector_threshold
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from es_detector_threshold
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from es_detector_threshold
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.holley.elecsafe.model.es.EsDetectorThresholdExample" >
    delete from es_detector_threshold
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holley.elecsafe.model.es.EsDetectorThreshold" >
    insert into es_detector_threshold (ID, OVERU, UNDERU, 
      OVERI, IL, TA, TB, 
      TC, TN, TL, TI, 
      UPDATETIME)
    values (#{id,jdbcType=INTEGER}, #{overu,jdbcType=DECIMAL}, #{underu,jdbcType=DECIMAL}, 
      #{overi,jdbcType=DECIMAL}, #{il,jdbcType=DECIMAL}, #{ta,jdbcType=DECIMAL}, #{tb,jdbcType=DECIMAL}, 
      #{tc,jdbcType=DECIMAL}, #{tn,jdbcType=DECIMAL}, #{tl,jdbcType=DECIMAL}, #{ti,jdbcType=DECIMAL}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.holley.elecsafe.model.es.EsDetectorThreshold" >
    insert into es_detector_threshold
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="overu != null" >
        OVERU,
      </if>
      <if test="underu != null" >
        UNDERU,
      </if>
      <if test="overi != null" >
        OVERI,
      </if>
      <if test="il != null" >
        IL,
      </if>
      <if test="ta != null" >
        TA,
      </if>
      <if test="tb != null" >
        TB,
      </if>
      <if test="tc != null" >
        TC,
      </if>
      <if test="tn != null" >
        TN,
      </if>
      <if test="tl != null" >
        TL,
      </if>
      <if test="ti != null" >
        TI,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="overu != null" >
        #{overu,jdbcType=DECIMAL},
      </if>
      <if test="underu != null" >
        #{underu,jdbcType=DECIMAL},
      </if>
      <if test="overi != null" >
        #{overi,jdbcType=DECIMAL},
      </if>
      <if test="il != null" >
        #{il,jdbcType=DECIMAL},
      </if>
      <if test="ta != null" >
        #{ta,jdbcType=DECIMAL},
      </if>
      <if test="tb != null" >
        #{tb,jdbcType=DECIMAL},
      </if>
      <if test="tc != null" >
        #{tc,jdbcType=DECIMAL},
      </if>
      <if test="tn != null" >
        #{tn,jdbcType=DECIMAL},
      </if>
      <if test="tl != null" >
        #{tl,jdbcType=DECIMAL},
      </if>
      <if test="ti != null" >
        #{ti,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holley.elecsafe.model.es.EsDetectorThresholdExample" resultType="java.lang.Integer" >
    select count(*) from es_detector_threshold
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update es_detector_threshold
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.overu != null" >
        OVERU = #{record.overu,jdbcType=DECIMAL},
      </if>
      <if test="record.underu != null" >
        UNDERU = #{record.underu,jdbcType=DECIMAL},
      </if>
      <if test="record.overi != null" >
        OVERI = #{record.overi,jdbcType=DECIMAL},
      </if>
      <if test="record.il != null" >
        IL = #{record.il,jdbcType=DECIMAL},
      </if>
      <if test="record.ta != null" >
        TA = #{record.ta,jdbcType=DECIMAL},
      </if>
      <if test="record.tb != null" >
        TB = #{record.tb,jdbcType=DECIMAL},
      </if>
      <if test="record.tc != null" >
        TC = #{record.tc,jdbcType=DECIMAL},
      </if>
      <if test="record.tn != null" >
        TN = #{record.tn,jdbcType=DECIMAL},
      </if>
      <if test="record.tl != null" >
        TL = #{record.tl,jdbcType=DECIMAL},
      </if>
      <if test="record.ti != null" >
        TI = #{record.ti,jdbcType=DECIMAL},
      </if>
      <if test="record.updatetime != null" >
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update es_detector_threshold
    set ID = #{record.id,jdbcType=INTEGER},
      OVERU = #{record.overu,jdbcType=DECIMAL},
      UNDERU = #{record.underu,jdbcType=DECIMAL},
      OVERI = #{record.overi,jdbcType=DECIMAL},
      IL = #{record.il,jdbcType=DECIMAL},
      TA = #{record.ta,jdbcType=DECIMAL},
      TB = #{record.tb,jdbcType=DECIMAL},
      TC = #{record.tc,jdbcType=DECIMAL},
      TN = #{record.tn,jdbcType=DECIMAL},
      TL = #{record.tl,jdbcType=DECIMAL},
      TI = #{record.ti,jdbcType=DECIMAL},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.holley.elecsafe.model.es.EsDetectorThreshold" >
    update es_detector_threshold
    <set >
      <if test="overu != null" >
        OVERU = #{overu,jdbcType=DECIMAL},
      </if>
      <if test="underu != null" >
        UNDERU = #{underu,jdbcType=DECIMAL},
      </if>
      <if test="overi != null" >
        OVERI = #{overi,jdbcType=DECIMAL},
      </if>
      <if test="il != null" >
        IL = #{il,jdbcType=DECIMAL},
      </if>
      <if test="ta != null" >
        TA = #{ta,jdbcType=DECIMAL},
      </if>
      <if test="tb != null" >
        TB = #{tb,jdbcType=DECIMAL},
      </if>
      <if test="tc != null" >
        TC = #{tc,jdbcType=DECIMAL},
      </if>
      <if test="tn != null" >
        TN = #{tn,jdbcType=DECIMAL},
      </if>
      <if test="tl != null" >
        TL = #{tl,jdbcType=DECIMAL},
      </if>
      <if test="ti != null" >
        TI = #{ti,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.holley.elecsafe.model.es.EsDetectorThreshold" >
    update es_detector_threshold
    set OVERU = #{overu,jdbcType=DECIMAL},
      UNDERU = #{underu,jdbcType=DECIMAL},
      OVERI = #{overi,jdbcType=DECIMAL},
      IL = #{il,jdbcType=DECIMAL},
      TA = #{ta,jdbcType=DECIMAL},
      TB = #{tb,jdbcType=DECIMAL},
      TC = #{tc,jdbcType=DECIMAL},
      TN = #{tn,jdbcType=DECIMAL},
      TL = #{tl,jdbcType=DECIMAL},
      TI = #{ti,jdbcType=DECIMAL},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>