
.login-page {
   width: 315px;
   padding-bottom: 10px;
   padding-top:15px;
   background-color: rgba(182,218,242,0.4);
   border-radius: 4px;
   /*
   background-color: #b6daf2;
   filter:alpha(opacity=50); IE滤镜，透明度40%
   -moz-opacity:0.5; Firefox私有，透明度40%
   opacity:0.5;其他，透明度40% */
}

.login-txt{
	font-size: 26px;
	font-weight: 500;
	color: #4f80ae;
}

.login-logo-txt{
	 position: absolute;
	 top:50px;
	 left:80px;
}

.login-tip{
	margin-left: 25px;
	margin-right: 25px;
	color: red; 
	font-size:12px;
	visibility: hidden;
}

.login-page .form-horizontal .form-group {
    margin-right: 10px;
    margin-left: 10px;
}

.login-page .form-control {
    border-color: #89afce;
}

.forgetpwd,.forgetpwd:hover{
	color: #0a94f2;
	text-decoration: none;
}

.login-btn{
	background-color: #4f80ae;
	color: #fff;
}

.login-page .form-horizontal .has-feedback .form-control-feedback {
	top:6px;
    left: 15px;
    color: #89afce;
    font-size: 18px;
}

.input-lg {
    height: 46px;
    padding: 10px 40px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
   /*  background-color: rgba(182,218,242,0.4); */
    color: #4f80ae;
}


.authcenter-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;
}

.login-footer{
	position: absolute;
	bottom: 0;
	margin-left: 0;
	width: 100%;
	background-color: transparent;
	border-top: none;
}

/* input::-webkit-input-placeholder {
　　color: #89afce !important; WebKit browsers
}
input:-moz-placeholder {
　　color: #89afce !important; Mozilla Firefox 4 to 18
}
input::-moz-placeholder {
　　color: #89afce !important; Mozilla Firefox 19+
}
input:-ms-input-placeholder {
　　color: #89afce !important; Internet Explorer 10+
} */




